@model MvcOnlineTicariOtomasyon.Models.Siniflar.Faturalar

@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>New Invoice Page</h2>
<br />
<form class="form-group" method="post">
    @Html.Label("Invoice Serial No")
    @Html.TextBoxFor(x => x.FaturaSeriNo, new { @class = "form-control" })
    <br />
    @Html.Label("Invoice Serial No 2")
    @Html.TextBoxFor(x => x.FaturaSiraNo, new { @class = "form-control" })
    <br />
    @Html.Label("Invoice Date")
    @Html.TextBoxFor(x => x.FaturaTarih, new { @class = "form-control" })
    <br />
    @Html.Label("Tax Administration")
    @Html.TextBoxFor(x => x.VergiDairesi, new { @class = "form-control" })
    <br />

    @Html.Label("Hour")
    @Html.TextBoxFor(x => x.Saat, new { @class = "form-control" })

    <br />
    @Html.Label("Submitter")
    @Html.TextBoxFor(x => x.TeslimEden, new { @class = "form-control" })

    <br />
    @Html.Label("Receiver")
    @Html.TextBoxFor(x => x.TeslimAlan, new { @class = "form-control" })

    <br />
    <button class="btn btn-primary">Save</button>
</form>


