@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<table class="table table-bordered" style="margin-top: 20px">
    <tr>
        
        <th>Seri Sıra No</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Toplam</th>
        <th>Güncelle</th>
   
        <th>Popup</th>
        <th>Yeni Kalem</th>


    </tr>

    @foreach (var a in Model)
    {
<tr>
    
    <td>@a.FaturaSeriNo @a.FaturaSiraNo</td>
    <td>@a.FaturaTarih</td>
    <td>@a.Saat</td>

    <td>@a.Toplam</td>
    <td><a href="/Fatura/FaturaGetir/@a.Faturaid/" class="btn btn-warning">Güncelle</a></td>
    <td><a href="/Fatura/FaturaDetay/@a.Faturaid/" class="btn btn-success" style="background-color:dodgerblue"data-toggle="modal" data-target="#Modal2">Popup</a></td>
    <td><a href="/Fatura/FaturaDetay/@a.Faturaid/" class="btn btn-success" style="background-color:thistle">Kalem</a></td>



</tr>
    }


</table>

<a href="/Fatura/FaturaEkle" class="btn btn-info">Yeni Fatura Girişi</a>
<br /><br />
<button type="button" class="btn btn-warning" style="background-color:#e52e2e;color:white"data-toggle="modal" data-target="#Modal1">Popup Penceresi</button>

<div class ="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Popup Diyalog Ekranı</h2>

            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <td>Seri No</td>
                        <td>Sıra No</td>
                        <td>Tutar</td>
                    </tr>
                    @foreach (var x in Model)
                    {
                    <tr>
                        <td>@x.FaturaSeriNo</td>
                        <td>@x.FaturaSiraNo</td>
                        <td>@x.Toplam</td>
                    </tr>
                    }
                </table>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tamam</button>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="Modal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Kalem Popup Diyalog Ekranı</h2>

            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <td>Açıklama</td>
                        <td>Tutar</td>
                       
                    </tr>
                    @foreach (var x in Model)
                    {
                        <tr>
                            @*<td>@x.FaturaKalems.</td>
                            <td>@x.</td>*@
                           
                        </tr>
                    }
                </table>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tamam</button>
            </div>
        </div>
    </div>
</div>