@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<table class="table table-bordered" style="margin-top: 20px">
    <tr>
        <th>ID</th>
        <th>Serial No</th>
        <th>Date</th>
        <th>Hour</th>
        <th>Total</th>
        <th>Update</th>
   
      
        <th>New entry</th>


    </tr>

    @foreach (var a in Model)
    {
<tr>
    <td>@a.Faturaid</td>
    <td>@a.FaturaSeriNo @a.FaturaSiraNo</td>
    <td>@a.FaturaTarih</td>
    <td>@a.Saat</td>

    <td>@a.Toplam</td>
    <td><a href="/Fatura/FaturaGetir/@a.Faturaid/" class="btn btn-warning">Update</a></td>

    <td><a href="/Fatura/FaturaDetay/@a.Faturaid/" class="btn btn-success" style="background-color:thistle">Entry</a></td>



</tr>
    }


</table>

<a href="/Fatura/FaturaEkle" class="btn btn-info">New Invoice Entry</a>
<br /><br />
<button type="button" class="btn btn-warning" style="background-color:#e52e2e;color:white"data-toggle="modal" data-target="#Modal1">Popup Penceresi</button>

<div class ="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Popup Dialog Screen</h2>

            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <td>Serial number</td>
                        <td>Serial number 2</td>
                        <td>Total</td>
                    </tr>
                    @foreach (var x in Model)
                    {
                    <tr>
                        <td>@x.FaturaSeriNo</td>
                        <td>@x.FaturaSiraNo</td>
                        <td>@x.Toplam</td>
                    </tr>
                    }
                </table>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="Modal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">New Entry Popup Dialog Screen</h2>

            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <td>Explanation</td>
                        <td>Total</td>
                       
                    </tr>
                    @foreach (var x in Model)
                    {
                        <tr>
                            @*<td>@x.FaturaKalems.</td>
                            <td>@x.</td>*@
                           
                        </tr>
                    }
                </table>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>