@model MvcOnlineTicariOtomasyon.Models.Siniflar.FaturaKalem
@{
    ViewBag.Title = "YeniKalem";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>New Entry for a Invoice</h2>
<br />
<form class="form-group" method="post">
    @Html.Label("Explanation")
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    @Html.Label("Amount")
    @Html.TextBoxFor(x => x.Miktar, new { @class = "form-control" })
    <br />
    @Html.Label("Unit Price")
    @Html.TextBoxFor(x => x.BirimFiyat, new { @class = "form-control" })
    <br />
    @Html.Label("Total")
    @Html.TextBoxFor(x => x.Tutar, new { @class = "form-control" })
    <br />

    @Html.Label("Invoice id")
    @Html.TextBoxFor(x => x.Faturaid, new { @class = "form-control" })


    <br />
    <button class="btn btn-primary">Save</button>
</form>



