@model MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHareket

@{
    ViewBag.Title = "SatisGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Aktualisierung der Verkaufstransaktion</h2>
<br />
@using (Html.BeginForm("SatisGuncelle", "Satis", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Satisid)
    @Html.Label("Produkt")
    @Html.DropDownListFor(x => x.Urunid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })

    <br />
    @Html.Label("Kunde")
    @Html.DropDownListFor(x => x.Cariid, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })

    <br />
    @Html.Label("Mitarbeiter")
    @Html.DropDownListFor(x => x.Personelid, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })

    @Html.Label("Anzahl")
    @Html.TextBoxFor(x => x.Adet, new { @class = "form-control" })
    <br />
    @Html.Label("Preis")
    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })

    <br />
    @Html.Label("Gesamtsumme")
    @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control" })
    <br />

    @Html.Label("Datum")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Aktualisieren</button>

}



