@model MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHareket
@{
    ViewBag.Title = "YeniSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>New sales page</h2>
<br />
<form class="form-group" method="post">
    @Html.Label("Product")
    @Html.DropDownListFor(x => x.Urunid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })

    <br />
    @Html.Label("Customer")
    @Html.DropDownListFor(x => x.Cariid, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control"})

    <br />
    @Html.Label("Employees")
    @Html.DropDownListFor(x => x.Personelid, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control"})


    <br />
    @Html.Label("Quantity")
    @Html.TextBoxFor(x => x.Adet, new { @class = "form-control",required="required"})
    <br />
    @Html.Label("Price")
    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control",required="required"})
    <br />

    @*@Html.LabelFor(x => x.ToplamTutar)
        @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control" })
        <br />*@

<button class="btn btn-primary">Sell</button>
</form>



