@model MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHareket
@{
    ViewBag.Title = "YeniSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Neue Verkaufsseite</h2>
<br />
<form class="form-group" method="post">
    @Html.Label("Produkt")
    @Html.DropDownListFor(x => x.Urunid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })

    <br />
    @Html.Label("Kunde")
    @Html.DropDownListFor(x => x.Cariid, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })

    <br />
    @Html.Label("Mitarbeiter")
    @Html.DropDownListFor(x => x.Personelid, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })


    <br />
    @Html.Label("Anzahl")
    @Html.TextBoxFor(x => x.Adet, new { @class = "form-control" })
    <br />
    @Html.Label("Preis")
    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
    <br />

    @*@Html.LabelFor(x => x.ToplamTutar)
        @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control" })
        <br />*@

<button class="btn btn-primary">Verkaufen</button>
</form>



