@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Cariler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Stadt</th>
        <th>Mail</th>
        <th>Löschen</th>
        <th>Aktualisieren</th>
        <th>Detail</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Cariid</td>
            <td>@x.CariAd</td>
            <td>@x.CariSoyad</td>
            <td>@x.CariSehir</td>
            <td>@x.CariMail</td>
            <td><a href="/Cari/CariSil/@x.Cariid/" class="btn btn-danger">Löschen</a></td>
            <td><a href="/Cari/CariGetir/@x.Cariid/" class="btn btn-warning">Aktualisieren</a></td>
            <td><a href="/Cari/MusteriSatis/@x.Cariid" class="btn btn-default" style="background-color:lightcoral">Verkaufshistorie</a></td>
        </tr>
    }

</table>
<a href="/Cari/YeniCari/" class="btn btn-info">Neuen Kunden hinzufügen</a>
