@using MvcOnlineTicariOtomasyon.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Cariler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>City</th>
        <th>E-Mail</th>
        <th>Remove</th>
        <th>Update</th>
        <th>Detail</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Cariid</td>
            <td>@x.CariAd</td>
            <td>@x.CariSoyad</td>
            <td>@x.CariSehir</td>
            <td>@x.CariMail</td>
            <td><a href="/Cari/CariSil/@x.Cariid/" class="btn btn-danger">Remove</a></td>
            <td><a href="/Cari/CariGetir/@x.Cariid/" class="btn btn-warning">Update</a></td>
            <td><a href="/Cari/MusteriSatis/@x.Cariid" class="btn btn-default" style="background-color:lightcoral">Sales history</a></td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }), new PagedListRenderOptions
{

    LiElementClasses = new List<string>

    {"page-link"}

})
<a href="/Cari/YeniCari/" class="btn btn-info">Add new customer</a>
