@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm("Index", "Urun", FormMethod.Get))
            {
                <p>
                    Name of the product: @Html.TextBox("p", null, new { @style = " outline:none; " })
                    <input type="submit" class="btn btn-info" value="Search"/>
                </p>
            }
<br />
<table class="table table-bordered" style="margin-top: 20px">
    <tr>
       
        <th>Product</th>
        <th>Brand</th>
        <th>Stock</th>
        <th>Purchase Price</th>
        <th>Sale Price</th>
        <th>Category</th>

        <th>Delete</th>
        <th>Update</th>
        
    </tr>

    @foreach (var k in Model)
    {
<tr>

    <td>@k.UrunAd</td>
    <td>@k.Marka</td>
    <td>@k.Stok</td>
    <td>@k.AlisFiyat ₺</td>
    <td>@k.SatisFiyat ₺</td>
    <td>@k.Kategori.KategoriAd</td>

   
    <td><a href="/Urun/UrunSil/@k.UrunID" class="btn btn-danger">Delete</a></td>
    <td><a href="/Urun/UrunGetir/@k.UrunID" class="btn btn-success">Update</a></td>




</tr>
    }
</table>

<a href="/Urun/YeniUrun/" class="btn btn-info">New Product</a>




