@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm("Index", "Urun", FormMethod.Get))
            {
                <p>
                    Name des Produkts: @Html.TextBox("p", null, new { @style = " outline:none; " })
                    <input type="submit" class="btn btn-info" value="Suchen"/>
                </p>
            }
<br />
<table class="table table-bordered" style="margin-top: 20px">
    <tr>
       
        <th>Ürün</th>
        <th>Marka</th>
        <th>Stok</th>
        <th>Alış Fiyat</th>
        <th>Satış Fiyat</th>
        <th>Kategori</th>
        <th>Detay</th>
        
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Satış Yap</th>
        
    </tr>

    @foreach (var k in Model)
    {
<tr>

    <td>@k.UrunAd</td>
    <td>@k.Marka</td>
    <td>@k.Stok</td>
    <td>@k.AlisFiyat ₺</td>
    <td>@k.SatisFiyat ₺</td>
    <td>@k.Kategori.KategoriAd</td>

    <td><a href="/UrunDetay/UrunDetayiGetir/@k.UrunID" class="btn btn-info">Detay</a></td>
    <td><a href="/Urun/UrunSil/@k.UrunID" class="btn btn-danger">Sil</a></td>
    <td><a href="/Urun/UrunGetir/@k.UrunID" class="btn btn-success">Güncelle</a></td>
    <td>
    <a href="/Urun/SatisYap/@k.UrunID" class="btn btn-default" style="background-color:yellow">Satış Yap</a></td>



</tr>
    }
</table>

<a href="/Urun/YeniUrun/" class="btn btn-info">Yeni Ürün</a>




