@model MvcOnlineTicariOtomasyon.Models.Siniflar.Urun

@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>New Product Page</h2>
<br />
<form class="form-group" method="post">
    @Html.Label("Product Name")
    @Html.TextBoxFor(x => x.UrunAd, new { @class = "form-control" })
    <br />
    @Html.Label("Brand")
    @Html.TextBoxFor(x => x.Marka, new { @class = "form-control" })
    <br />
    @Html.Label("Stock")
    @Html.TextBoxFor(x => x.Stok, new { @class = "form-control" })
    <br />
    @Html.Label("Purchase price")
    @Html.TextBoxFor(x => x.AlisFiyat, new { @class = "form-control" })
    <br />
    @Html.Label("Sale price")
    @Html.TextBoxFor(x => x.SatisFiyat, new { @class = "form-control" })
    <br />
    @Html.Label("Category")
    @Html.DropDownListFor(x => x.Kategoriid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })

    <br />
    @Html.Label("Photo")
    @Html.TextBoxFor(x => x.UrunGorsel, new { @class = "form-control" })
    <br />
    @Html.Label("Status")
    @Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Save</button>
</form>


