@using MvcOnlineTicariOtomasyon.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top: 20px">
    <tr>
        <th>ID</th>
        <th>Personal Name</th>
        <th>Personal Nachname</th>
        <th>Foto</th>
        <th>Abteilung</th>
        <th>Adresse</th>
        <th>Telefonnummer</th>
        <th>Löschen</th>
        <th>Aktualisieren</th>
        <th>Verkäufe</th>



    </tr>

    @foreach (var k in Model)

    {
        <tr>
            <td>@k.Personelid</td>
            <td>@k.PersonelAd</td>
            <td>@k.PersonelSoyad</td>
            <td>
                <img src="@k.PersonelGorsel" style="width:100px; height:50px" />
            </td>
            <td>@k.Departman.DepartmanAd</td>
            <td>@k.PersonelAdres</td>
            <td>@k.PersonelTel</td>
            <td><a href="/Personel/PersonelSil/@k.Personelid/" class="btn btn-danger">Löschen</a></td>
            <td><a href="/Personel/PersonelGetir/@k.Personelid/" class="btn btn-warning">Aktualisieren</a></td>
            <td><a href="/Departman/DepartmanPersonelSatis/@k.Personelid/" class="btn btn-success" style="background-color:lightcoral">Detail</a></td>


        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }), new PagedListRenderOptions
{

    LiElementClasses = new List<string>

    {"page-link"}

})

<a href="/Personel/PersonelEkle" class="btn btn-info">Mitarbeiter hinzufügen</a>

