@model MvcOnlineTicariOtomasyon.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Neue Angestellteseite</h2>
<br />
<form class="form-group" method="post">
    @Html.Label("Personal Name")
    @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
    <br />
    @Html.Label("Personal Nachname")
    @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
    <br />
    @Html.Label("Foto")
    @Html.TextBoxFor(x => x.PersonelGorsel, new { @class = "form-control" })
    <br />

    @Html.Label("Abteilung")
    @Html.DropDownListFor(x => x.Departmanid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />
    @Html.Label("Adresse")
    @Html.TextBoxFor(x => x.PersonelAdres, new { @class = "form-control" })
    <br />
    @Html.Label("Telefonnummer")
    @Html.TextBoxFor(x => x.PersonelTel, new { @class = "form-control" })

    <br />
    <button class="btn btn-primary">Speichern</button>
</form>


