@model MvcOnlineTicariOtomasyon.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>New employee page</h2>
<br />
@using (Html.BeginForm("PersonelEkle", "Personel", FormMethod.Post, new { enctype = "multipart-form/data" })) {
    <form class="form-group" method="post">
        @Html.Label("Personal Name")
        @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control",required="required"})
        <br />
        @Html.Label("Personal Surname")
        @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
        <br />
        @Html.Label("Photo")
        <input type="file" name="PersonelGorsel" />
        <br />

        @Html.Label("Department")
        @Html.DropDownListFor(x => x.Departmanid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control",required="required"})
        <br />
        @Html.Label("Address")
        @Html.TextBoxFor(x => x.PersonelAdres, new { @class = "form-control" })
        <br />
        @Html.Label("Phone number")
        @Html.TextBoxFor(x => x.PersonelTel, new { @class = "form-control" })

        <br />
        <button class="btn btn-primary">Save</button>
    </form>
}

